.login-container {
    max-width: 400px;
    justify-content: center;
}

.nav-link {
    color: rgba($white, .9);
    transition: color .5s ease-in-out 50ms;

    &-active {
        text-decoration: underline;
        color: $white;
    }

    &-active:hover {
        color: $black;
    }
}


.btn-custom {
    border-color: $black;

    &:hover {
        background-color: $black;
        border-color: $white;
    }
}

.p-home {
    margin: 0.5rem;
}

.new-post-header {
    background-color: $primary;
    color: $white;
}

.profile-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.lazy-links {
    justify-content: space-between;
    flex-direction: row-reverse;
}

.userName {
        color: $blue;
}

.card-text-small {
    font-size: .875em;
    font-weight: 200;
    color: $gray-700 ;
}

#updateMessage {
    padding: 0 1rem 1rem 1rem;
}

.hidden {
    display: none;
}